body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
}

#modelViewer {
  height: 0;
}

#change-speed-demo {
  height: 0;
}

.frontpage {
  width: 100vw;
  height: 100vh;

  background: url("./Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content img {
  display: block;
  width: 60%;
  max-width: 500px;
}

.title {
  font-size: 80px;
  color: white;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.spinner {
  color: white;
}

.loadingbar {
  position: absolute;
  height: 20px;
  left: 0;

  bottom: 100px;

  background-color: white;
}

.start {
  animation: load 2s linear forwards;
}

@keyframes load {
  0% {
    width: 20px;
  }
  10% {
    width: 10%;
  }

  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }

  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}

.over {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back {
  display: block;
  width: 200px;
  height: 30px;
  background-color: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  transform: rotate(45deg);
}

.move {
  animation: rotate 5s linear;

  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  10% {
    transform: translateX(30px) rotate(36deg);
  }
  20% {
    transform: translateX(60px) rotate(72deg);
  }
  30% {
    transform: translateX(90px) rotate(108deg);
  }
  40% {
    transform: translateX(120px) rotate(144deg);
  }
  50% {
    transform: translateX(150px) rotate(180deg);
  }
  60% {
    transform: translateX(180px) rotate(216deg);
  }
  70% {
    transform: translateX(210px) rotate(252deg);
  }
  80% {
    transform: translateX(240px) rotate(288deg);
  }
  90% {
    transform: translateX(280px) rotate(334deg);
  }
  100% {
    transform: translateX(320px) rotate(405deg);
  }
}
