body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#modelViewer {
  height: 0;
}

.frontpage {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background: url("./Background.jpg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.frontpage img {
  display: block;
  width: 60%;
  max-width: 500px;
}

.title {
  font-size: 80px;
  color: white;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.square {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  transform: rotate(45deg);
}

.move {
  animation: rotate 5s linear;

  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  10% {
    transform: translateX(30px) rotate(36deg);
  }
  20% {
    transform: translateX(60px) rotate(72deg);
  }
  30% {
    transform: translateX(90px) rotate(108deg);
  }
  40% {
    transform: translateX(120px) rotate(144deg);
  }
  50% {
    transform: translateX(150px) rotate(180deg);
  }
  60% {
    transform: translateX(180px) rotate(216deg);
  }
  70% {
    transform: translateX(210px) rotate(252deg);
  }
  80% {
    transform: translateX(240px) rotate(288deg);
  }
  90% {
    transform: translateX(280px) rotate(334deg);
  }
  100% {
    transform: translateX(320px) rotate(405deg);
  }
}
